:root {
	/* Typography */
	--font-primary: "Inter";
	--font-secondary: "Instrument Serif";
	--font-tertiary: "Roboto Mono";

	/* Color */
	--color-bg: hsl(0, 0%, 100%);
	--color-text-primary: hsl(223, 8%, 8%);
	--color-text-secondary: hsla(223, 8%, 8%, 0.5);
	--color-button-text: hsl(223, 8%, 8%);
	--color-button-bg: hsla(223, 8%, 8%, 0.1);
	--color-button-bg-hover: hsla(223, 8%, 8%, 0.1);
	--color-outline: hsla(223, 8%, 8%, 0.25);
	--color-bg-card: hsl(0, 0%, 100%);
	--color-outline-card: hsla(223, 8%, 8%, 0.1);
	--color-bg-card-inner: hsla(223, 8%, 8%, 0.02);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: hsl(223, 8%, 8%);
		--color-text-primary: hsl(0, 0%, 100%);
		--color-text-secondary: hsla(0, 0%, 100%, 0.5);
		--color-button-text: hsl(0, 0%, 100%);
		--color-button-bg: hsla(0, 0%, 100%, 0.1);
		--color-button-bg-hover: hsla(0, 0%, 100%, 0.1);
		--color-outline: hsla(0, 0%, 100%, 0.25);
		--color-bg-card: hsla(0, 0%, 100%, 0.02);
		--color-outline-card: hsla(0, 0%, 100%, 0.06);
		--color-bg-card-inner: hsl(223, 8%, 8%);
	}
}

:root.light,
.light {
	--color-bg: hsl(0, 0%, 100%);
	--color-text-primary: hsl(223, 8%, 8%);
	--color-text-secondary: hsla(223, 8%, 8%, 0.5);
	--color-button-text: hsl(223, 8%, 8%);
	--color-button-bg: hsla(223, 8%, 8%, 0.1);
	--color-button-bg-hover: hsla(223, 8%, 8%, 0.1);
	--color-outline: hsla(223, 8%, 8%, 0.25);
	--color-bg-card: hsl(0, 0%, 100%);
	--color-outline-card: hsla(223, 8%, 8%, 0.1);
	--color-bg-card-inner: hsla(223, 8%, 8%, 0.02);
}

:root.dark,
.dark {
	--color-bg: hsl(223, 8%, 8%);
	--color-text-primary: hsl(0, 0%, 100%);
	--color-text-secondary: hsla(0, 0%, 100%, 0.5);
	--color-button-text: hsl(0, 0%, 100%);
	--color-button-bg: hsla(0, 0%, 100%, 0.1);
	--color-button-bg-hover: hsla(0, 0%, 100%, 0.1);
	--color-outline: hsla(0, 0%, 100%, 0.25);
	--color-bg-card: hsla(0, 0%, 100%, 0.02);
	--color-outline-card: hsla(0, 0%, 100%, 0.06);
	--color-bg-card-inner: hsl(223, 8%, 8%);
}

*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
figcaption,
pre,
code,
table,
th,
td,
tr,
form,
fieldset,
legend,
input,
textarea,
button,
select,
option {
	all: unset;
	display: revert;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	font-family: var(--font-primary);
	background-color: var(--color-bg);
	color: var(--color-text-primary);
	height: 100dvh;
	min-width: none;
}

main {
	padding-block: 10rem;
	padding-inline: 1.5rem;

	@media (min-width: 48rem) {
		padding-inline: 0;
	}
}

.wrapper {
	max-width: 40.625rem;
	margin-inline: auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

h1 {
	font-family: var(--font-secondary);
	font-size: 2rem;
	color: var(--color-text-primary);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	p {
		font-weight: 500;
		color: var(--color-text-secondary);
		line-height: 1.5;

		span {
			color: var(--color-text-primary);
		}
	}
}

.btn-content {
	margin-top: 2.5rem;
	display: flex;
	gap: 0.75rem;
	flex-wrap: wrap;
}

.btn-content a {
	padding: 0.5rem 0.75rem;
	border-radius: 999px;
	background-color: var(--color-button-bg);
	color: var(--color-button-text);
	transition: background 0.2s ease, color 0.2s ease;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-size: 1rem;
	font-weight: 600;
	font-family: var(--font-primary);
	cursor: pointer;
}

.btn-content a:hover {
	background-color: var(--color-button-bg-hover);
}

.link-icon {
	display: flex;
}

.articles {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.articles > .article-list {
	display: flex;
	flex-direction: column;
}

.articles > .article-list > .article-item {
	padding-block: 1.5rem;
	padding-inline: 0.875rem;
	margin-inline: -1rem;
	border-radius: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-text-primary);
	transition: background 0.2s ease, color 0.2s ease;

	&:hover {
		background-color: var(--color-button-bg-hover);

		@media (max-width: 35rem) {
			background-color: transparent;
		}
	}

	@media (max-width: 35rem) {
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}
}

.articles > .article-list > .article-item > .article-title {
	color: var(--color-text-primary);
	font-weight: 600;
}
.articles > .article-list > .article-item > .article-meta {
	color: var(--color-text-secondary);
	font-weight: 500;
}
